/*----------Global Display------------*/
html{
    align-content: center;
    text-align: center;
    font-family: Arial, serif;
    width: 100%;
}

h2,h3{
    margin: 0.9em;
}

/*--------------Button---------------*/
input[type=submit]{
    margin:0.5em;
    background: #0066A2;
    color: white;
    border: #0066A2;
    height: 3em;
    width: 5em;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    cursor: pointer;
}

input[type=submit]:hover{
    background: #4373a2;
    cursor: pointer;
}

button[type=submit].del{
    text-align: center ;
    margin:0;
    padding: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #0066A2;
    color: white;
    border: #0066A2;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    cursor: pointer;
}

button[type=submit].del:hover{
    background: #4373a2;
    cursor: pointer;
}

form.action-button{
    margin-top: 1.3em;
}

/*----------Navigation Bar-----------*/
div.navbar{
    padding-top: 2em;
}

i.cart{
    width: 7em;
    height: auto;
    content:url("/img/cart.png");
}

button.cart{
    border: none;
    color: white;
    font-size: 0.6em;
    padding: auto;
    cursor: pointer;
}

/*-----------Cart Display-----------*/
div.body{
    text-align: center;
    height:auto;
    width: 70%;
    margin-left: 30%;
}

div.body div.col1{
    width: 50%;
    float:left;
}

div.body div.col2{
    width: 40%;
    float:right;
}

div.table{
    display: table;
    border-bottom: 1px black solid;
    text-align: left;
    padding-bottom:1.49em;
    margin-bottom: 0.9em;
    height: auto;
    width: 100%;
}

div.table div{
    float: left;
    padding-top: 0.5em;
    width: 25%;
}

h1.table-title{
    text-align: left;
    padding-bottom:1em;
    width: 100%;
    border-bottom: 1px black solid;
}

div.table div.del-button{
    width: 1em;
}

div.table2{
    display: table;
    border-bottom: 1px black solid;
    text-align: left;
    padding-bottom:0.9em;
    height: auto;
    width: 20em;
}

div.table2 div{
    padding-top: 0.5em;
    float:right;
    width: 10em;
    text-align:center;
}


div.table form.action-button div{
    padding-top: auto;
}

div.total{
    color: brown;
    font-weight: bolder;
}

input[list] {
    text-align: center  ;
    width: 20%;
}
/*---------Formation Display------*/
div.Course-Display{
    margin: auto;
}
