/*----------Global Display------------*/
html{
	text-align: center;
    font-family: Arial, serif;
}

h2,h3{
    margin: 0.9rem;
}

/*--------------Button---------------*/
input[type=submit]{
    margin:0.5rem;
    background: #0066A2;
    color: white;
    border: #0066A2;
    height: 3rem;
    width: 5rem;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
}

input[type=submit]:hover{
    background: #4373a2;
    cursor: pointer;
}

form.action-button{
    margin-top: 1.3rem;
}

/*----------Navigation Bar-----------*/
div.navbar{
    padding-top: 2rem;
}

i.cart{
    width: 5rem;
    height: auto;
    content:url("/img/cart.png");
}

button.cart{
    border: none;
    color: white;
    font-size: 0.6rem;
    padding: auto;
    cursor: pointer;
}

/*-----------Cart Display-----------*/
div.table{
    margin:auto;
    height: auto;
    width: 20rem;
}

div.table div{
    padding-top: 0.5rem;
    float:left;
    width: 10rem;
    text-align:center;
}
div.table form.action-button div{
    padding-top: auto;
}

div.total{
    color: brown;
    font-weight: bolder;
}

/*-----------Formation Display------*/
div.Course-Display{
    margin: auto;
}