
form {
	display:block;
	margin: 50px;
	margin-top: 10px;
	text-align: left
}

.box {
	margin-right:80px;
	margin-left:30px;
	margin-top: 0;
	margin-top: 0;
	text-align: center;
	display: inline-table;
}

p{
	width: auto;
}

.checkbox{
	padding-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}
